.footer {
  border-top: 4px solid #0e6748;
}

@media (max-width: 630px) {
  .contentContainer {
    flex-direction: column;
    align-items:initial;    
  }

  .logoContainer {
    width: 100px;
    margin-bottom: 20px;
  }

  .textContainer {
    font-size: 1.1rem;
  }

  .socialContainer {
    font-size: 2rem;
  }
}