.footer {
  border-top: 4px solid green;
}


@media (max-width: 500px) {
  .aboutContainer {
    margin-right: 10px;
  }
}

@media (min-width: 700px) {
  .footerMainContainer {
    flex-direction: row;
  }

  .footer {
    height: 200px;
  }
}


@media (min-width: 900px) {
  .logoImg {
    width: 160px;
  }

  .footer {
    height: 250px;
  }

  .titleText {
    font-size: 1.8rem;
  }

  .mainText {
    font-size: 1rem;
  }

  .aboutContainer {
    width: 250px;
  }

  .footerMainContainer {
    margin: 6em;
    margin-top: 3em;
  }
}

