.current-page {
  position: relative;
  text-decoration: none;
}

.current-page:before {
  content: "";
  position: absolute;
  bottom: 12px;
  height: 3px;
  width: 0;
  background: rgb(139, 139, 139);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  animation: underlineAnimation 1s forwards;
}

.current-page {
  color: rgb(195, 195, 195);
}

@keyframes underlineAnimation {
  to {
    width: 80%;
  }
}

.text-info:hover {
  color: rgb(195, 195, 195);
  cursor: pointer;
}

.social-media-link:hover {
  color: rgb(195, 195, 195);
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  z-index: 101;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.screen-settings {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(251, 251, 244);
  font-size: 2rem;
  color: black;

  position: fixed;
  margin-top: 68px;

  width: 100%;
  height: 100vh;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 10;
}

.main-settings {
  border-top: 1px solid black; 
  margin-top: 20px;
}


@media (max-width: 520px) {
  .menu-info-container {
    margin-right: 5px, 5px;
  }

  .menu-container {
    width: 22%;
    margin-right: 5px;
  }

  .menu-text-name {
    margin-left: 10%;
    width: 100%;
    font-size: 1rem;
  }

  .tribar {
    display: block;
  }

  .options-container {
    display: none;
  }
}

@media (max-width: 800px) {
  .home-page-container {
    display: none;
  }
}

@media (min-width: 800px) {
  .text-info {
    font-size: 1.3rem;
  }

  .extra-options {
    display: flex;
  }

  .social-media-link {
    font-size: 1rem
  }
}

@media (min-width: 1000px) {
  .logo-container {
    margin-left: 70px;
  }

  .extra-options {
    margin-right: 70px;
  }
}