.nameContainer {
  background-color: rgb(251, 251, 244);
}

.nameContainer button:hover {
  background-color: red;
}

.btn {
  background-color: #05442e;
}

.btn:hover {
  opacity: 0.8;
}

.enterContainer {
  width: 500px;
}

@media (min-width: 600px) {
  .loginContainer {
    height: 80vh;
  }
}

@media (min-width: 40px) and (max-width: 500px) {
  .enterContainer {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .enterContainer {
    width: 400px;
  }
}
