body, * {
  margin: 0;
  padding: 0;
}

.header, 
.main{
  background-image: none;
}

.main {
  height: 100%;
}

.header {
  height: 200px;
}

.headerTaglineContainer {
  background: linear-gradient(to bottom, #05442e, #01110b);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.menuText {
  font-size: 2rem;
  font-weight: bold;

  margin-left: 5%;
  margin-bottom: 15px; 
}

.menuTaglineText {
  font-size: 1rem;
  margin-left: 5%;
}



.menuItem:hover .menuItemImg {
  transform: scale(1.1);
  transition-duration: 300ms;
}

.footer {
  border-top: 4px solid rgb(6, 113, 6); 
}


@media (max-width: 1300px) {
  .headerSection {
    margin-top: 70px;
  }
}

@media (max-width: 850px) {
  
  .headerSection {
    margin-bottom: 50px;
  }

  .menuItemImg {
    width: 65%;
  }

  .menuItemText {
    margin-top: 13px;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    
  }
}

@media (max-width: 950px) {
  .header {
    height: 150px;
    margin-bottom: 70px;
  }
}
