.cover {
  width: 100%;
}

.main {
  width: var(--mutual-width);
}

.itemContainer {
  margin-top: var(--section-margin);
}

.infoContainer,
.infoContainer > img {
  position: relative;
  border-radius: 4px;
}

.infoContainer {
  overflow: hidden;
}

.headerSection {
  width: 100%;
  height: 300px;
  background-image: url('../../../assets/background/seedsBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.infoContainer > img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  transition: transform 300ms; 
}


.infoContainer > p {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

@media (max-width: 665px) {
  :root {
    --text-width: 320px;
    --mutual-width: 90%;
    --title-font-size: 2.2rem;
    --pretitle-font-size: 1.5rem;
    --article-font-size: 1.2rem;
    --icon-size: 1.9rem;
  }

  .itemContainer {
    --section-margin: 70px;
  }

  .headerSection {
    max-height: 100px;
  }
}


@media (min-width: 900px) {
  .infoContainer {
    min-width: 400px;
  }
}

@media (max-width: 600px) {
  .headerText {
    padding: 0;
  }
}

