.headerSection {
  background: linear-gradient(to bottom, var(--custom-green), #01110b);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.7);
}

.loginContainer {
  margin-top: var(--section-margin);
}

.titleText {
  font-size: var(--title-font-size);
  font-weight: bold;
}

.pretitleText {
  font-size: var(--pretitle-font-size);
}


.articleText {
  font-size: var(--article-font-size);
}

.nameContainer button:hover {
  background-color: red;
}

.enterContainer {
  width: 500px;
}

@media (min-width: 800px) {
  .headerSection {
    height: 250px;
  }
}

@media (max-width: 800px) {
  .tagline {
    font-size: 1.2rem;
    width: var(--mutual-width);
  }

  .enterContainer {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .menuTaglineText {
    font-size: 1.3rem;
  }
}

@media (min-width: 1250px) {
  .inputLabel {
    font-size: 1.4rem;
  }

  .nameContainer {
    font-size: 4rem;
  }
}



@media (min-width: 40px) and (max-width: 500px) {
  .nameContainer {
    font-size: 3.5rem;
  }

  .enterContainer {
    width: 300px;
  }

  .tagline {
    font-size: 1.3rem;
  }

  .inputLabel {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .nameContainer {
    font-size: 3.5rem;
  }

  .mainContainer {
    margin-top: 80px;
  }

  .tagline {
    margin-left: 5%;
    font-size: 1.1rem;
  }

  .inputLabel {
    font-size: 1.5rem;
  }
}


