@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-width: 320px;
  --mutual-width: 94%;
  --title-font-size: 2rem;
  --pretitle-font-size: 1.2rem;
  --article-font-size: 1.1rem;
  --section-margin: 100px;
  --icon-size: 1.7rem;
}

a {
  text-decoration: none;
  color: black;
}

main {
  font-size: 1rem;
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleText {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 10px;
}

.preTitleText {
  font-size: var(--pretitle-font-size);
  font-weight: bold;
}

.coverContainer {
  height: 300px;
  width: 100%;

  color: white;

  background-image: url('../../../../public/images/background/plates-on-table.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
}

.introductionContainer {
  margin-top: 50px;
  margin-left: 10%;
  font-weight: bold;
}

.welcomeContainer {
  font-size: 2rem;
  margin-bottom: 3px;
  padding-top: 10px;
}

.nameContainer {
  font-size: 4rem;
}

.InfoSheet {
  margin-top: var(--section-margin);
  width: var(--mutual-width);
}

.gridInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.infoContainer,
.infoContainer > img {
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.infoContainer {
  overflow: hidden;
}

.infoContainer > img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  transition: transform 300ms; 
}

.infoContainer > img:hover {
  transform: scale(1.04);
}


.infoContainer > p {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: var(--section-margin);
  width: var(--mutual-width);
}

.mapResponsive {
  overflow: hidden;
  padding-bottom: 20.25%;
  position: relative;
  width: 100%;
  height:500px;
  max-width: 1000px;
  height: 120px;
  border-radius: 7px;
}

.mapResponsive > iframe {
  left: 0;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  max-height: 500px;
  max-width: 1000px;
}

.locationDetails {
  margin-right: 30px;
}

.geoIcon {
  color: var(--custom-green);
  margin-right: 10px;
  margin-bottom:12px;
  font-size: var(--icon-size);
}

.cityContainer {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.locationTextContainer {
  margin-left: 5px;
}

.instagramSection {
  display: flex;
  flex-direction: row;

  width: var(--mutual-width);
  max-width: var(--mutual-width);
}

.instagramGallery {
  margin-top: var(--section-margin);
  display: flex;
  align-items: center;
  width: 70%;
  min-width: 300px;
  height: 100%;
  position: relative;
}

.buttonRightContainer {
  position: absolute;
  left: 15px;
  z-index: 100;
}

.buttonLeftContainer {
  position: absolute;
  right: 15px;
  z-index: 100;
}

.icon {
  color: white;
  background-color: var(--custom-green);
  font-size: 3rem;
  outline: none;
  border: none;
  padding: 0px 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 100ms;
}

.icon:hover {
  background-color: rgb(16, 83, 59);
  transform: scale(1.02);
}

.cover {
  position: relative;
  width: 100%;
  height: 50%;
}

.scrollImages {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.scrollImages::-webkit-scrollbar{
  display: none;
}

.child {
  background-color: gray;
  min-width: 180px;
  height: 300px;
  margin: 1px 5px;
  cursor: pointer;
  border: 1px solid rgba(207, 201, 201, .3);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  transition: background-color 250ms;
}


.childImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 250ms;
}

.instagramIconAbsolute {
  display: none;
  cursor: pointer;
  position: absolute;
  color:white;
  opacity: 0.6;
  font-size: var(--icon-size);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms;
  }

.childImg:hover {
  opacity: 0.45;
}

.child:hover {
  background-color: black;
}

.child:hover .instagramIconAbsolute {
  display: inline-block;
  opacity: 1;
}

.instagramDetails {
  flex: 1;
  margin-left: 10%;
}

.instagramNameContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.instagramIcon {
  color: var(--custom-green);
  font-size: var(--icon-size);
  margin-right: 10px;
}


.decorationalVerticalContainer {
  position: absolute;
  width: 16px;
  background-color: var(--custom-green);
  border-top-left-radius: 60px;
  z-index: -1;

  transform: skewX(-15deg);
}

.longVerticalContainer {
  --distance: 300px;
  height: var(--distance);
  top: calc(var(--distance) * -1);
}

.verticalContainerOne {
  left: 0px;
}

.verticalContainerTwo {
  left: 40px;
}

.verticalContainerThree {
  left: 80px;
}


.burgersDetails {
  margin-right: 20%;
}

.bestBurgersSection {
  margin-top: var(--section-margin);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: var(--mutual-width);

}


.drinkAndBeerSection {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--section-margin));
  width: 100%;
  height: 400px;
  background-color: var(--custom-green);
  position: relative;
}

.imageContainer {
  margin-right: 15%;
  margin-left: 5%;
  width: 40%;
  max-width: 450px;
  min-width: 250px;
  object-fit: cover;
}

.toMenuBtn {
  margin-top: 20px;
  background-color: var(--custom-green);
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  min-width: 200px;
}

.beerMainSection {
  width: var(--mutual-width);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.beerImageContainer {
  margin-right: 5%;
  margin-left: 25%;
  width: 40%;
  max-width: 330px;
  min-width: 230px;
  object-fit: cover;
}

.beerDetails {
  margin-left: 10%;
  min-width: 250px;
}

.alcoholArticle {
  min-width: 350px;
  max-width: 500px;
  margin-top: 25px;
}

.beerTitle {
  margin-bottom: 20px;
}