@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  color: black;
}

.cover-container {
  height: 400px;
  width: 100%;

  color: white;
  font-size: .7rem;

  background-image: url('../../../../public/images/background/fire-burger.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
}


.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  margin-left: 90px;
  margin-right: 90px;
}

.logo-container,
.general-info-container {
  margin-top: 0px;
  cursor: pointer;
}

.logo-img {
  width: 120px;
  object-fit: cover;
  margin-top: 10px;
}

.fabar {
  margin-top: 5px;
}

.general-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-container {
  border: 1px solid white;
  border-top: none;
  padding: 15px;
  
  transition: background-color .15s color .15s opacity .15;
}

.info-container:hover {
  background-color: white;
  color: black;
  opacity: 0.7;
}

.introduction-container {
  margin-top: 50px;
  margin-left: 25%;
}

.welcome-container {
  font-size: .8rem;
  margin-bottom: 3px;
  padding-top: 10px;
}

.name-container {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.tagline-container {
  font-size: 1rem;
}

main {
  font-size: 1rem;
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  height: 600px;
  width: 70%;
  
  max-width: 650px;
  min-width: 500px;
  
  position: absolute;
  top: 270px;
  
  background: linear-gradient(to bottom, #022418, #021c13, #01110b);
  
  margin-left: 60px;
  margin-right: 60px;
}

.mission-container,
.mission-article-container {
  margin: 30px;
}

.mission-container {
  font-size: 1.6rem;
  font-weight: bold;
}

.mission-article-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  
  margin-left: 60px;
}

.left-section-container,
.right-section-container {
  width: 260px;
}

.left-section-container {
  margin-right: 30px;
}

.meal-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  position: absolute;
  top: 680px;
}

.meal-image {
  width: 550px;
  height: 350px;
  object-fit: cover;
}

.separation-container {
  margin-top: 350px;
  width: 100%;
}

.separation-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
