@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-width: 320px;
  --mutual-width: 94%;
  --title-font-size: 2rem;
  --section-margin: 100px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  font-size: 1rem;
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.coverContainer {
  height: 300px;
  width: 100%;

  color: white;

  background-image: url('../../../../public/images/background/plates-on-table.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
}

.introductionContainer {
  margin-top: 50px;
  margin-left: 10%;
  font-weight: bold;
}

.welcomeContainer {
  font-size: 2rem;
  margin-bottom: 3px;
  padding-top: 10px;
}

.nameContainer {
  font-size: 4rem;
}

.currentNewsText {
  color: black;
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 10px;
  width: var(--text-width);
}

.InfoSheet {
  margin-top: var(--section-margin);
  width: var(--mutual-width);
}

.gridInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.infoContainer,
.infoContainer > img {
  position: relative;
  cursor: pointer;
  border-radius: 4px;
}

.infoContainer {
  overflow: hidden;
}

.infoContainer > img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  transition: transform 300ms; 
}

.infoContainer > img:hover {
  transform: scale(1.04);
}


.infoContainer > p {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: var(--section-margin);
  width: var(--mutual-width);
}

.mapResponsive {
  overflow: hidden;
  padding-bottom: 46.25%;
  position: relative;
  width: 100%;
  max-height: 500px;
  max-width: 1000px;
  height: 120px;
  border-radius: 7px;
}

.mapResponsive > iframe {
  left: 0;
  top: 0;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  max-height: 500px;
  max-width: 1000px;
}

.titleText {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 10px;
}

.locationDetails {
  margin-right: 30px;
}

.geoIcon {
  color: var(--custom-green);
  margin-right: 10px;
  margin-bottom:12px;
  font-size: 1.7rem;
}

.cityContainer {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.locationTextContainer {
  font-size: 1.1rem;
  margin-left: 5px;
}


.instagramSection {
  width: var(--mutual-width);
}

.instagramGallery {
  margin-top: var(--section-margin);
  display: flex;
  align-items: center;
  width: 80%;
  min-width: 600px;
  max-width: 800px;
  height: 100%;
  position: relative;
}

.buttonRightContainer {
  position: absolute;
  left: 30px;
  z-index: 100;
}

.buttonLeftContainer {
  position: absolute;
  right: 100px;
  z-index: 100;
}

.icon {
  color: white;
  background-color: var(--custom-green);
  font-size: 3rem;
  outline: none;
  border: none;
  padding: 0px 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 100ms;
}

.icon:hover {
  background-color: rgb(16, 83, 59);
  transform: scale(1.01);
}

.cover {
  position: relative;
  width: 90%;
  height: 50%;
}

.scrollImages {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.child {
  min-width: 230px;
  height: 350px;
  margin: 1px 5px;
  cursor: pointer;
  border: 1px solid rgba(207, 201, 201, .3);
  overflow: hidden;
}

.childImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instagramDetails {
  margin-left: 20px;
}