.header {
  color: white;
}

.headerTaglineContainer {
  height: 250px;
  background: linear-gradient(to bottom, var(--custom-green), #01110b);
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.mainContainer {
  width: var(--mutual-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.allMeals {
  width: var(--mutual-width);
}

.orderContainer {
  width: var(--mutual-width);
}

.amoutContainer {
  width: var(--mutual-width);
}

.mainEmptyContainer {
  margin-top: 70px;
}

.emptyCartContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: black;
  font-size: var(--title-font-size);
}

.menuText {
  font-size: var(--title-font-size);
  font-weight: bold;

  margin-left: 5%;
  margin-bottom: 15px; 
}

.menuTaglineText {
  font-size: var(--pretitle-font-size);
  margin-left: 5%;
  margin-right: 5%;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: bold;
}

.textContainer {
  margin-bottom: 200px;
  margin-left: 3%;
  margin-right: 2%;
}

@media (max-width: 800px) {
  .headerTaglineContainer {
    height: 300px;
  }
}
 

@media (max-width: 500px) {
  .mainContainer {
    width: 96%;
  }

  .mealNameContainer {
    width: auto;
  }
}

@media (max-width: 400px) {
  :root {
    --text-width: 320px;
    --mutual-width: 96%;
    --title-font-size: 2.2rem;
    --pretitle-font-size: 1.4rem;
    --article-font-size: 1.3rem;
    --section-margin: 100px;
    --icon-size: 1.7rem;
  }

  .mealNameContainer {
    min-width: 86px;
  }
}