.mainContainer {
  width: var(--mutual-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mealContainer {
  width: var(--mutual-width);
}

.orderContainer {
  width: var(--mutual-width);
}

.mainEmptyContainer {
  margin-top: 70px;
  height: 100vh;
}

.emptyCartContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: black;
  font-size: var(--title-font-size);
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: bold;
}

.textContainer {
  margin-bottom: 200px;
  margin-left: 3%;
  margin-right: 2%;
}

@media (max-width: 500px) {
  .mainContainer {
    width: 96%;
  }

  .mealNameContainer {
    width: auto;
  }
}