.mainEmptyContainer {
  margin-top: 70px;
  height: 89vh;
}

.emptyCartContainer {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  color: black;
  font-size: var(--title-font-size);
}

.link {
  color: var(--link-color);
  text-decoration: underline;
  font-weight: bold;
}

.textContainer {
  margin-bottom: 200px;
  margin-left: 3%;
  margin-right: 2%;
}

