.allInfoContainer {
  width: var(--mutual-width);
}

.titleText {
  font-size: var(--title-font-size);
}

.pretitleText {
  font-size: var(--pretitle-font-size);
}

.articleText {
  font-size: var(--article-font-size);
}