.mainContainer{
  width: var(--mutual-width);
}

.gradientBg {
  box-shadow: 0 10px 10px rgba(255, 187, 15, 0.2);
  background-color: rgb(255, 187, 15);
}

@media (max-width: 500px) {
  .successContainer {
    font-size: 2.1rem;
  }
}

@media (min-width: 900px) {
  .mainContainer {
    max-width: 800px;
  }
}

