@media (max-width: 665px) {
  :root {
    --text-width: 320px;
    --mutual-width: 90%;
    --title-font-size: 2.2rem;
    --pretitle-font-size: 1.5rem;
    --article-font-size: 1.2rem;
    --icon-size: 1.9rem;
  }

  .ordersContainer {
    --section-margin: 70px;
  }
}

.allInfoContainer {
  width: var(--mutual-width);
}

.buttonChoice {
  padding: 0;
}

.inputContainer {
  background-color: var(--bg-color);
}

.infoContainer {
  padding: 22px;
  border-radius: 14px;
}

.changeInfoContainer {
  padding: 18px;
  border-radius: 14px;

}

.headerSection {
  background: linear-gradient(to bottom, var(--custom-green), #01110b);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.7);
}

.labelTitle {
  font-size: 1.1rem;
}

.ordersContainer {
  width: var(--mutual-width);
}

.customMargin {
  margin-top: var(--section-margin);
}

.titleText {
  font-size: var(--title-font-size);
}

.pretitleText {
  font-size: var(--pretitle-font-size);
}

.articleText {
  font-size: var(--article-font-size);
}

.dateContainer {
  background-color: var(--custom-green);
  color: white;
  border-color: var(--custom-green);
}

.priceContainer {
  background-color: var(--custom-green);
  color: white;
  border-color: var(--custom-green);
}

@media (max-width: 600px) {
  .menuTaglineText {
    font-size: 1.3rem;
  }
}

@media (min-width: 801px) { 
  .labelTitle {
    font-size: 1.2rem;
  }

  .iconsContainer {
    height: 60.8px;
  }

  .headerSection {
    height: 250px;
  }
}
 
@media (max-width: 500px) {
  .headerSection {
    height: 320px;
  }
}


@media (min-width: 1050px) {
  .labelTitle {
    font-size: 1.3rem;
  }

  .iconsContainer {
    height: 63.2px;
  }
}

.scale {
  transition: transform 300ms;
}

.scale:hover {
  transform: scale(1.01);
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
  max-width: 1100px;
}

.labelTitle {
  font-size: 1.5rem;
}

.accordion li {
  background-color: rgb(251, 251, 244);
  list-style: none;
  width: 100%;
  margin: 7px;
  margin-left: 0;
  padding: 10px;
  border: 1.6px solid rgb(230, 225, 216);
  border-radius: 14px;
  box-shadow: 5px 5px 10px rgba(224, 216, 206, 0.6);
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  font-weight: bold;
}

input[type="radio"] {
  display: none;
}

.liContainer {
  padding: 50px;
}

.accordion .content {
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

@media (min-width: 801px) { 
  .labelTitle {
    font-size: 1.7rem;
  }
}

@media (max-width: 800px) {
  .accordion .content {
    padding: 0;
  }
}

@media (min-width: 1250px) {
  .bgImgContainer {
    flex-direction: row;
  }

  .btnsContainer {
    flex-direction: column;
    align-items: flex-end;
  }

  .btnsContainer a {
    max-width: none;
    width: 70%;
    margin-left: 0;
    margin-right: 0;
  }

  .upperBtn {
    margin-bottom: 15px;
  }
}