@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --custom-green: #05442e;
  --custom-orange: #ffbc0d;
  --link-color: rgb(0, 60, 255);
  --custom-gray: rgb(91, 91, 91);
  --line-width: 175px;
  --section-margin: 100px;
  --title-font-size: 2rem;
  --pretitle-font-size: 1.2rem;
  --article-font-size: 1.1rem;
  --section-margin: 100px;
  --icon-size: 1.7rem;
  --a-font-size: 1.3rem;
  --staff-width: 70vh;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: rgb(251, 251, 244);
  max-width: 2300px;
}

* {
  margin: 0;
}


.titleText {
  font-size: var(--title-font-size);
  font-weight: bold;
}

.pretitleText {
  font-size: var(--pretitle-font-size);
}

.articleText {
  font-size: var(--article-font-size);
}

.input {
  display: flex;
  justify-content: center;
  padding: 12px 14px;
  border-radius: 14px;
  font-size: var(--article-font-size);
  background-color: rgb(251, 251, 244);
  border: 1.6px solid rgb(230, 225, 216);
  min-width: 120px;
  box-shadow: 5px 5px 10px rgba(224, 216, 206, 0.6);
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--custom-green);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: var(--article-font-size);
  cursor: pointer;
  min-width: 100px;
  overflow: hidden;
  transition: transform 300ms;
}

.btn:hover {
  transform: scale(1.02);
}

.animatedLine {
  width: 0; 
  height: 7px; 
  background-color: var(--custom-green); 
  animation: fillAnimation 500ms forwards ease-in-out; 
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.staffContent {
  width: 90%;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 900px;
  min-width: 300px;
}

.section {
  background-color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: var(--article-font-size);
  border: 2px solid black;
  min-width: 100px;
} 

@keyframes fillAnimation {
  to {
    width: var(--line-width);
  }
}

@media (min-width: 800px) {
  .staffContent {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .staffContent {
    width: 70%;
    margin-top: 100px;
    margin-top: 100px;
  }
}

