@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: #fbfbf4;
  --custom-green: #05442e;
  --custom-orange: #ffbc0d;
  --link-color: rgb(0, 60, 255);
  --custom-gray: rgb(91, 91, 91);
  --line-width: 150px;
  --section-margin: 100px;
  --title-font-size: 2rem;
  --pretitle-font-size: 1.2rem;
  --article-font-size: 1.1rem;
  --section-margin: 100px;
  --icon-size: 1.7rem;
  --a-font-size: 1.3rem;
  --staff-width: 70vh;
  --text-width: 320px;
  --mutual-width: 94%;
  --wavy-height: 25px;
  --max-width-section: 2000px;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: rgb(251, 251, 244);
  max-width: 2300px;
}

* {
  margin: 0;
}

.staffIndificator {
  background-color: black;
  color: white;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  overflow: hidden;
}

.titleText {
  font-size: var(--title-font-size);
  font-weight: bold;
}

.pretitleText {
  font-size: var(--pretitle-font-size);
}

.articleText {
  font-size: var(--article-font-size);
}

.input {
  display: flex;
  justify-content: center;
  padding: 12px 14px;
  border-radius: 5px;
  font-size: var(--article-font-size);
  background-color: rgb(251, 251, 244);
  border: 1.6px solid rgb(230, 225, 216);
  min-width: 120px;
  box-shadow: 5px 5px 10px rgba(224, 216, 206, 0.6);
}

.btn {
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--custom-green);
  color: white;
  padding: 12px 14px;
  border-radius: 5px;
  font-size: var(--article-font-size);
  cursor: pointer;
  min-width: 100px;
  overflow: hidden;
  transition: transform 300ms;
}

.btn:hover {
  transform: scale(1.01);
}

.animatedLine {
  width: 0; 
  height: 7px; 
  background-color: var(--custom-green); 
  animation: fillAnimation 500ms forwards ease-in-out; 
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fullCover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width-section);
}

.staffContent {
  width: 90%;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 900px;
  min-width: 300px;
}

.section {
  background-color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: var(--article-font-size);
  border: 2px solid black;
  min-width: 100px;
} 

.topWavyBox {
  --wavy-height: 25px;
  height: var(--wavy-height);
  width: 100%;
  top: calc(var(--wavy-height) * -1 + 1px);
  background-color: var(--custom-green);
  background-color: var(--custom-green);
  position: absolute;
  border: none;
  --mask:
    radial-gradient(33.54px at 50% 45.00px,#000 99%,#0000 101%) calc(50% - 30px) 0/60px 100%,
    radial-gradient(33.54px at 50% -30px,#0000 99%,#000 101%) 50% 15px/60px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.bottomWavyBox {
  --wavy-height: 25px;
  height: var(--wavy-height);
  width: 100%;
  bottom: calc(var(--wavy-height) * -1 + 1px);
  background-color: var(--custom-green);
  background-color: var(--custom-green);
  position: absolute;
  border: none;
  --mask:
    radial-gradient(33.54px at 50% calc(100% - 45.00px),#000 99%,#0000 101%) calc(50% - 30px) 0/60px 100%,
    radial-gradient(33.54px at 50% calc(100% + 30.00px),#0000 99%,#000 101%) 50% calc(100% - 15px)/60px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.infoContainer > p {
  position: absolute;
  bottom: 15px;
  left: 10px;
}


.infoContainer > p {
  position: absolute;
  bottom: 15px;
  left: 10px;
}

@keyframes fillAnimation {
  to {
    width: var(--line-width);
  }
}

@media (max-width: 450px) {
  :root {
    --text-width: 320px;
    --mutual-width: 84%;
    --title-font-size: 2rem;
    --pretitle-font-size: 1.3rem;
    --article-font-size: 1.1rem;
    --section-margin: 100px;
    --icon-size: 1.7rem;
  }
}

@media (min-width: 800px) {
  .staffContent {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .staffContent {
    width: 70%;
    margin-top: 100px;
    margin-top: 100px;
  }
}


@media (max-width: 930px) { 
  .beerImageContainer {
    margin-right: 5%;
    margin-left: 10%;
    width: 100%;
  }
}

@media (max-width: 765px) { 
  :root {
    --text-width: 320px;
    --mutual-width: 84%;
    --title-font-size: 2.2rem;
    --pretitle-font-size: 1.5rem;
    --article-font-size: 1.2rem;
    --section-margin: 100px;
    --icon-size: 1.7rem;
  }
}


@media (max-width: 665px) {
  :root {
    --text-width: 320px;
    --mutual-width: 90%;
    --title-font-size: 2.2rem;
    --pretitle-font-size: 1.5rem;
    --article-font-size: 1.2rem;
    --section-margin: 70px;
    --icon-size: 1.9rem;
    --line-width: 175px;
  }
}

@media (min-width: 930px) { 
  :root {
    --text-width: 320px;
    --mutual-width:84%;
    --title-font-size: 2.6rem;
    --pretitle-font-size: 1.4rem;
    --article-font-size: 1.3rem;
    --section-margin: 100px;
    --icon-size: 2rem;
  }
}

@media (min-width: 1260px) { 
  :root {
    --text-width: 320px;
    --mutual-width: 92%;
    --title-font-size: 3rem;
    --pretitle-font-size: 1.5rem;
    --article-font-size: 1.4rem;
    --section-margin: 100px;
    --icon-size: 2.3rem;
  }
}