@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --custom-green: #05442e;
  --custom-orange: #ff9307;
  --line-width: 175px;
}

body {
  font-family: Arial;
  margin: 0;
  background-color: rgb(251, 251, 244);
  max-width: 1500px;
}

* {
  margin: 0;
}

.animatedLine {
  width: 0; 
  height: 7px; 
  background-color: var(--custom-green); 
  animation: fillAnimation 500ms forwards ease-in-out; 
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@keyframes fillAnimation {
  to {
    width: var(--line-width);
  }
}

