@media (max-width: 665px) {
  .main {
    --section-margin: 70px;
  }
}

.main {
  background-color: var(--custom-green);
  margin-top: var(--section-margin);
  height: 250px;
  width: 100%;
}

.coverContainer {
  width: var(--mutual-width);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputEmail {
  box-shadow: none;
}

.submBtn {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  padding: 12px 14px;
  border-radius: 5px;
  font-size: var(--article-font-size);
  cursor: pointer;
  min-width: 100px;
  overflow: hidden;
  transition: transform 300ms;
  color: black;
  background-color: #ffbc0d;
  font-weight: bold;
  transition: transform 300ms;
}

.submBtn:hover {
  transform: scale(1.01);
}

.inputsContainer {
  max-width: 700px;
}

@media (max-width: 800px) {
  .coverContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   justify-content: center;
  }

  .details {
    margin: 0;
  }

  .main {
    background-color: var(--custom-green);
    height: 320px;
    width: 100%;
  }
}

@media (min-width: 800px) {
  .coverContainer {
    justify-content: space-between;
  }

  .details {
    width: 500px;
    margin-right: 20px;
  }
}

@media (min-width: 800px) {
  .coverContainer {
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
  }
}
