:root {
  --mutual-footer-width: 90%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--section-margin);
  width: 100%;
  height: 300px;
  border-top: 4px solid var(--custom-green);
  margin-bottom: 60px;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--mutual-footer-width);
}

.imageContainer {
  margin-top: 100px;
  width: var(--mutual-footer-width);
}

.coverSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: var(--mutual-footer-width);
  height: 90%;
}

.subdivision {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: var(--pretitle-font-size);
  margin-top: calc(var(--section-margin) / 4)
}

.link {
  font-weight: 200;
  font-size: var(--article-font-size);
  margin-bottom: 4px;
}

.logoImg {
  width: 100px;
  object-fit: cover;
}

.imageCoverContainer {
  flex: 1;
  margin-top: 20px;
  max-width: 100px;
  height: 200px;
  margin-right: 15%;
}

.logoCoverImg {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 700px) {
  :root {
  --mutual-footer-width: 90%;
  }

  .footer {
    height: 500px;
    margin: 100px 0 0 0;
  }

  .imageContainer {
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .footer {
    height: 420px;
  }

  .footer {
    height: 500px;
    margin: 100px 0 20px 0;
  }
}

@media (min-width: 701px) {
  .footer {
    margin-bottom: 50px;
    height: 300px;
  }

    .imageContainer {
    margin-top: 40px;
  }
}
